/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/
* {
  box-sizing: border-box;
}

body {
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
}

.headfade {
  width: 100%;
  height: 200px;
  background-color: #1c5380;
}

main {
  width: 950px;
  position: relative;
  top: -120px;
  margin: 0 auto;
  overflow: hidden;
}

/*.logo{
  float: left;
}*/

.phones {
  width: 34%;
  float: left;
}

.right-stuff {
  margin-left: 30px;
  width: 53%;
  float: left;
}

.insta-logo {
  width: 100%;
  float: left;
}

.login {
  float: right;
  width: 80px;
  background-color: #06365f;
  font-size: 14px;
  margin-top: 25px;
  margin-right: 5px;
}


.frame {
  clear: both;
  padding-top: 5px;
  width: 100%;
  background-image: url(../images/frame.png);
  background-repeat: no-repeat;
}

h1 {
  font-size: 24px;
}

.frame-contents, .app-buttons {
  width: 90%;
  margin: 15px auto;
}

.button {
  float: left;
  width: 48%;
}

footer {
  clear: both;
  width: 100%;
}

li {
  display: inline;
  list-style-type: none;
  text-transform: uppercase;
  color: black;
}
