/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/
* {
  box-sizing: border-box;
}

body {
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
}

.headfade {
  width: 100%;
  height: 200px;
  background-color: #1c5380;
}

main {
  width: 1000px;
  position: absolute;
  top: 50px;
  margin: 0 auto;
  display: inline-block;
  overflow: hidden;
}

.phones, .insta-logo, .logo, .login {
  float: left;
}

.phones {
  width: 34%;
  /*float: left;*/
}

.insta-logo {
  width: 65%;
  /*float: left;*/
}

.login {
  width: 80px;
  background-color: #06365f;
  font-size: 14px;
  /*float: right;*/
}


.frame {
  position: absolute;
  width: 64%;
  left: 34%;
  top: 16%;
}

h1 {
  font-size: 24px;
}

.frame-contents {
  width: 60%;
  position: absolute;
  top: 20px;
  left: 6%;
}

.button {
  float: left;
  width: 48%;
}

footer {
  clear: both;
  width: 100%;
  /*position: absolute;
  top: 30px;*/
}

li {
  text-transform: uppercase;
}
