/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/
* {
  box-sizing: border-box;
}

body {
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
}

.headfade {
  width: 100%;
  height: 200px;
  /*background-color: #1c5380;*/
  background-image: url(../images/bgtile.png);
  background-repeat: repeat-x;
}

main {
  width: 950px;
  position: relative;
  top: -120px;
  margin: 0 auto;
  overflow: hidden;
}

/*.logo{
  float: left;
}*/

.phones {
  width: 34%;
  float: left;
}

.right-stuff {
  margin-left: 30px;
  width: 53%;
  float: left;
}

.insta-logo {
  width: 100%;
  float: left;
}

.login {
  float: right;
  width: 90px;
  background-color: #06365f;
  /*background-image: url(../images/bgtile.png);
  background-repeat: repeat-x;*/
  font-size: 14px;
  margin-top: 25px;
  margin-right: 5px;
  /*box-shadow: 2px 2px 2px 2px red;*/
  padding: 3px;
}

.login span {
  color: white;
  height: 45px;
}

.frame {
  clear: both;
  padding-top: 5px;
  width: 100%;
  background-image: url(../images/frame.png);
  background-repeat: no-repeat;
}

h1 {
  font-size: 24px;
}

.frame-contents, .app-buttons {
  width: 90%;
  margin: 15px auto;
}

.button {
  float: left;
  width: 48%;
}

footer {
  clear: both;
  width: 850px;
  margin: 0 auto;
}

ul {
  display: inline;
  float: left;
  margin-right: 25px;
}

li {
  display: inline;
  list-style-type: none;
  text-transform: uppercase;
  color: #1c5380;
  padding: 0 10px;
  font-size: 12px;
  font-weight: bold;
}

footer span {
  font-size: 12px;
}

.copyright {
  width: 16%;
  float: left;
  text-align: right;
  margin-top: 15px;
  font-weight: bold;
  color: #bbb;
}
